<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Battle for the galaxy</title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <header class="site-header">
      <nav>
        <ul>
          <li><a class="active" href="#home">Главная страница</a></li>
          <li><a href="#wikipedia">Википедия</a></li>
          <li><a href="#guides">Гайды</a></li>
          <li><a href="#about">Новости</a></li>
        </ul>
        <div th:hidden="${isSign==true}">
          <ul float="left">
            <li><a href="#signin">Вход</a></li>
            <li><a href="#registration">Регистрация</a></li>
          </ul>
        </div>

        <div th:hidden="false" th:if="${isSign==true}">
          <ul float="left">
            <li><a href="#start-game" th:text="${login}"></a></li>
            <li><a href="#signout">Выход</a></li>
          </ul>
        </div>
      </nav>   

      <div id="wikipedia">
        <div id="okno">
          Страница Википедия находится в разработке <br>
          <a href="#" class="close">Закрыть окно</a>
        </div>
      </div>

      <div id="guides">
        <div id="okno">
          Страница Гайды находится в разработке <br>
          <a href="#" class="close">Закрыть окно</a>
        </div>
      </div>

      <div id="about">
        <div id="okno">
          Страница Новости находится в разработке <br>
          <a href="#" class="close">Закрыть окно</a>
        </div>
      </div>

      <div id="signin">
        <div id="oknoformsignin">
          <form action="/home2" method="post">
            Login:<br>
            <input name="login" placeholder="Email" type="text"><br><br>
            Password:<br>
            <input name="password" placeholder="Password" type="password"><br>
            <input type="text" name="email" value=" " class="hidden">
            <input type="submit" placeholder="Войти">
          </form>
        </div>
      </div>

      <div id="registration">
        <div id="oknoformregistration">
          <form action="/home2" method="post">
            Login:<br>
            <input name="login" placeholder="Firstname" type="text"><br><br>
            Password:<br>
            <input type="password" name="password" placeholder="Password"><br><br>
            Email:<br>
            <input name="email" placeholder="Email" type="email"><br>
            <input type="submit" placeholder="Регистрация">
          </form>
        </div>
      </div>

      <div id="signout">
        <div id="oknoformsignout">
          <form action="/home3" method="post">
            <span>Вы точно хотите выйти?</span><br><br>
            <input class="hidden" name="requestSignOut" th:value="${login}" type="text">
            <input placeholder="Выход" type="submit">
          </form>
        </div>
      </div>

    </header>
    <main>
      <section>      
        <div class="text-container">
          <div>
            <h1 class="title">
              Добро пожаловать в <b>захватывающий мир</b>, где ты можешь создать <b>свою собственную</b> цивилизацию и стать великим императором! 
              <b>Сражайся</b> с другими игроками за контроль над звездами и галактиками, <b>расширяй</b> свои владения и <b>открывай</b> новые технологии, чтобы обойти своих конкурентов.
            </h1>
          </div>
          <div class="slideshow-container">
            <div class="mySlides fade">
              <img src="img/battlefiled1.jpg" style="max-height: 250px;">
            </div>
            
            <div class="mySlides fade">
              <img src="img/battlefiled2.jpg" style="max-height: 250px;">
            </div>
            
            <div class="mySlides fade">
              <img src="img/battlefiled3.jpg" style="max-height: 250px">
            </div>   
            
            <div class="mySlides fade">
              <img src="img/battlefiled4.jpg" style="max-height: 250px">
            </div>

            <div class="mySlides fade">
              <img src="img/battlefiled5.jpg" style="max-height: 250px">
            </div>

            <div class="mySlides fade">
              <img src="img/battlefiled6.jpg" style="max-height: 250px">
            </div>

            <div class="mySlides fade">
              <img src="img/battlefiled7.jpg" style="max-height: 250px">
            </div>

            <div class="mySlides fade">
              <img src="img/battlefiled8.jpg" style="max-height: 250px">
            </div>

            <div class="mySlides fade">
              <img src="img/battlefiled9.jpg" style="max-height: 250px">
            </div>

            <div class="mySlides fade">
              <img src="img/battlefiled10.jpg" style="max-height: 250px">
            </div>
          </div>
          <script>
            var slideIndex = 1;
            showSlides();
            function showSlides(n) {
              const slides = document.querySelectorAll('.mySlides');
              slides.forEach((slide) => {
                slide.style.display = 'none';
              });
              slideIndex = slideIndex % slides.length;
              slides[slideIndex].style.display = 'block';
              slideIndex++;
              setTimeout(showSlides, 2500);
            }
          </script>
        </div>


        <div class="useractivity">
          <p>В этой увлекательной стратегической игре ты можешь написать свою собственную историю и сделать свой выбор в управлении своей империей. 
            Поэтому готовься к вызовам и приготовься к завоеванию вселенной! Будешь ли <b>ты</b> готов к вызовам этой масштабной стратегической игры?</p>
          <ol>
            <span>История входа:</span>
            <li th:each="item : ${listusers}">
              <span th:text="${item.name}"></span>
              <span> -> </span>
              <span th:text="${item.typeSignIn}"></span>
            </li>
          </ol>
        </div>
        
      </section>

      <section class="popular-products">
        <div class="container">
          <h2 class="section-title">Выбери <b></b>галактику</b>, где начнется твоя история!>
          <ul class="products-list">
            <li class="product-card">
              <img src="img/milki-wey.jpg" style="max-height: 200px">
              <h3>Млечный путь</h3>
              <p>Галактика Млечный Путь - это изумительное пространство, состоящее из миллиардов звездных систем. Все они существуют в гармонии, но каждая система имеет свои собственные особенности и ресурсы, которые могут быть использованы для создания новых колоний и технологий.</p>
              <span>Сложность: Начинающий</span><br>
              <c><a href="#start-game">Начать</a></c>
            </li>

            <li class="product-card">
              <img src="img/big-dog.jpg" style="max-height: 200px">
              <h3>Карликовая галактика в Большом Псе</h3>
              <p>Карликовая галактика в Большом Псе - это таинственная и изолированная часть космоса, которая долгое время оставалась неизведанной. Эта небольшая галактика содержит множество необычных планет и астероидов, которые являются ценными ресурсами для тех, кто решит освоить эту территорию.</p>
              <span>Сложность: Легкий</span><br>
              <c><a href="#start-game">Начать</a></c>         
            </li>

            <li class="product-card">
              <img src="img/Volopas-I.jpg" style="max-height: 200px">
              <h3>Волопас I</h3>
              <p>Галактика Волопас I - это звездный кластер, расположенный в отдаленном уголке космоса. Она излюбленная цель завоевателей, ведь на ее территории скрываются бесценные ресурсы и технологии, которые могут изменить баланс сил в космической борьбе.</p>
              <span>Сложность: Средний</span><br>
              <c><a href="#start-game">Начать</a></c>
            </li>

            <li class="product-card">
              <img src="img/small-magellanic.jpg" style="max-height: 200px">
              <h3>Малое Магелланово Облако</h3>
              <p>Галактика Малое Магелланово Облако - это крошечный кластер звезд, расположенный в непосредственной близости от нашей Галактики Млечный Путь. Она известна своей малой размерностью, но вам не стоит забывать, что всякий кусочек ресурсов и технологий может стать ключом к победе.</p>
              <span>Сложность: Сложный</span><br>
              <c><a href="#start-game">Начать</a></c>          
            </li>

            <li class="product-card">
              <img src="img/larg-magellanic.jpg" style="max-height: 200px">
              <h3>Большое Магелланово Облако</h3>
              <p>Большое Магелланово Облако - это громадная галактика, которая расположена в непосредственной близости от нашей Галактики Млечный Путь. Она известна своими множеством звездных систем, планет и не менее необычными жителями, которые придерживаются своих уникальных культурных и религиозных традиций.</p>
              <span>Сложность: Эксперт</span><br>
              <c><a href="#start-game">Начать</a></c>
            </li>

            <li class="product-card">
              <img src="img/dwarf-elliptical.jpg" style="max-height: 200px">
              <h3>Карликовая эллиптическая галактика в Стрельце</h3>
              <p>Карликовая эллиптическая галактика в Стрельце - это непростой вызов для тех, кто желает выйти победителем в битве за галактические ресурсы и власть. Несмотря на свой небольшой размер и низкую плотность звезд, эта галактика может предложить множество уникальных и ценных ресурсов, которые могут стать основой для новых технологий и оружия.</p>
              <span>Сложность: Мастер</span><br>
              <c><a href="#start-game">Начать</a></c>           
            </li>

            <li class="product-card">
              <img src="img/dragon-galaxy.jpg" style="max-height: 200px">
              <h3>Карликовая галактика в Драконе</h3>
              <p>Добро пожаловать в галактику Дракон! Эта галактика известна своей огромной пульсирующей звёздой, которая выглядит, как голова дракона, на фоне взрывающихся звёзд и черной дыры, которая выглядит, как пасть этого дракона. Из-за этого галактику называют "Галактикой-Драконом".</p>
              <span>Сложность: Реалистичный режим</span><br>
              <c><a href="#start-game">Начать</a></c>      
            </li>
          </ul>

          <div id="start-game">
            <div id="okno">
              Данная функция находится в разработке <br>
              <a href="#" class="close">Закрыть окно</a>
            </div>
          </div>
        </div>
      </section>
      
    </main>
    <footer class="site-footer">
      <div class="container">
        <img class="logo-link" src="img/logo-hender.jpg" width="30" height="30" alt="...">
        <p class="copyright">© 2023</p>
      </div>
    </footer>
  </body>
  <img src="img/djokerge.jpg" width="20" height="20">
  
</html>

